*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

.container {
  width: 90%;
  margin: 0px auto;
}

@media only screen and (min-width: 470px) {

}

@media only screen and (min-width: 800px) {

}