@import "normalize-css";

html,
body,
input,
button,
select,
textarea {
  font: 16px/1.2 "Open Sans", "Helvetica Neue", Helvetica, arial, sans-serif;
  color: #444;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  font-weight: 300;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow: hidden;
}

#page {
  height: 100%;
}

#map {
  width: 100%;
  height: 100%;
}

header {
  clear: both;
}

h1 {
  text-align: center;
  font-weight: 200;
  color: #535350;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 15px;
  margin-top: 25px;
}

.nav {
  text-align: center;
  margin: 26px 0px 0px 0px;
  padding: 0px;
  height: 40px;
}

.nav h4 {
  display: inline-block;
}

.nav li {
  display: inline-block;
}

.nav li a {
  padding: 8px 10px 7px 10px;
  background-color: #f4f4f1;
  color: #535350;
  border: 1px solid #f4f4f1;
  border-radius: 3px;
  text-decoration: none;
}

.nav li a:hover,
.nav li a:focus {
  background-color: #f0f0ea;
  color: #333;
  border: 1px solid #f0f0ea;
}

.modal {
  position: fixed;
  top: 119px;
  left: 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #fff;
  border-radius: 3px;
  z-index: 1000;
  margin-left: 10px;
}

.modal a {
  text-decoration: none;
  color: #444;
}

.modal .location-title {
  font-weight: 500;
  margin-top: 10px;
}

.modal .text {
  line-height: 1.6;
}

#close-modal {
  font-weight: 300;
  font-size: 25px;
  float: right;
  line-height: 1;
  background-color: #efefef;
  padding: 4px 12px 6px 12px;
  border-radius: 3px;
}

.modal-inner {
  overflow: scroll;
  padding: 10px;
}

.modal-inner .image {
  display: block;
}

.modal-inner .image img {
  width: 100%;
  height: auto;
}

.container {
  width: 90%;
  margin: 0px auto;
}

@media only screen and (min-width: 470px) {
  h1 {
    float: left;
  }

  .nav {
    float: right;
  }

  .modal {
    top: 76px;
  }
}
