html,
body {
  height: 100%;
}

#map {
  height: 100%;
}

.leaflet-popup-content {
  height: 300px;
  width: 100%;
  overflow: auto;
}

.image {
  display: block;
}

.image img {
  width: 100%;
  height: auto;
}